@font-face {
  font-family: 'Noto-Sans-regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/MechaRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto-Sans-700';
  font-weight: 700;
  font-style: bold;
  src: url('../fonts/MechaBold.ttf') format('truetype');
}
